@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
	position: relative;
	margin: 0 auto;
	background-color: #f5f5dc;
	max-width: 1100px;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
}

.head-navbar {
	margin-top: 5px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 27px;
	font-weight: 700;
	width: 100%;
	padding: 20px;
	background-color: #ffb000;
	color: #004225;
}

.panel {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-left: 5px;
	.panel-login {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
}

.you-log {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	background-color: #004225;
	color: #f5f5dc;
	padding: 10px;
}

.btn-login,
.btn-reg,
.log-out-btn {
	display: flex;
	align-items: center;
	padding: 5px;
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
	border: 3px solid #ffcf9d;
	margin: 10px;
	font-size: 16px;
	font-weight: 100;
	-webkit-box-shadow: 12px 12px 0px 1px #ffb000;
	-moz-box-shadow: 12px 12px 0px 1px #ffb000;
	box-shadow: 12px 12px 0px 1px #ffb000;
	cursor: pointer;
}

.panel-button {
	display: none;
}

.history-chat {
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	box-shadow: 0px 0px 2px #000000;

	ul {
		li {
			list-style: none;
			cursor: pointer;
		}
	}

	h2 {
		font-size: 22px;
		margin-bottom: 5px;
	}
}

.box-search {
	padding: 10px;
	box-shadow: 0px 0px 2px #000000;

	ul {
		li {
			list-style: none;
		}
	}

	input {
		width: 140px;
	}
	.search-btn {
		// display: flex;
		// align-items: center;
		padding: 5px;
		color: black;
		font-family: 'Roboto Condensed', sans-serif;
		border: 3px solid #ffcf9d;
		margin: 10px;
		font-size: 16px;
		font-weight: 100;
		-webkit-box-shadow: 12px 12px 0px 1px #ffb000;
		-moz-box-shadow: 12px 12px 0px 1px #ffb000;
		box-shadow: 12px 12px 0px 1px #ffb000;
		cursor: pointer;
	}
}

.content-league {
	margin-top: 35px;
	margin-left: 20px;
	margin-right: 5px;
	font-family: 'Roboto Condensed', sans-serif;

	h1 {
		display: flex;
		align-items: center;
		font-size: 24px;
		.icon-sport {
			width: 27px;
			margin-right: 5px;
		}
	}

	.chat-content {
		box-shadow: 0px 0px 2px #000000;
		margin-top: 12px;
		padding: 20px;
		cursor: pointer;

		.chat-public {
			margin-top: 20px;
			padding: 10px;
			background-color: #ffb000;
			color: #004225;
		}

		.match-name {
			display: flex;
			align-items: center;
			font-weight: 700;

			span {
				font-size: 12px;
			}
		}
	}

	.send-public-chat {
		margin-top: 15px;
		margin-bottom: 15px;
		display: flex;
		flex-direction: column;

		input {
			padding: 10px;
			border: 2px solid #004225;
		}
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 11px;
			border: 2px solid #004225;
			cursor: pointer;
			-webkit-box-shadow: 5px 5px 0px 1px #004225;
			-moz-box-shadow: 5px 5px 0px 1px #004225;
			box-shadow: 5px 5px 0px 1px #004225;
			font-weight: 700;
		}
		button:hover {
			background-color: #ffcf9d;
		}
	}
}

.must-be-login {
	padding: 10px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 35px;
	// margin-left: 20px;
	font-family: 'Roboto Condensed', sans-serif;

	.sport-category {
		width: 300px;
		margin-top: 15px;
		margin-bottom: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 0px 0px 2px #000000;
		padding: 7px;
		cursor: pointer;
		.sport-name {
			display: flex;
			align-items: center;
			.icon-sport {
				width: 27px;
				margin-right: 5px;
			}
		}
		.country-league {
			margin: 12px;
			margin-left: 20px;
			li {
				display: flex;
				align-items: center;
				.icon-country {
					margin-right: 5px;
					width: 27px;
				}
				a {
					text-decoration: none;
					color: black;
				}
			}
		}
	}
}

.messages-container {
	max-height: 450px;
	overflow-y: auto;

	.message-one {
		padding: 2px;
	}
}

.private-content-chat {
	background-color: #ffb000;
	padding: 20px;

	.send-public-chat {
		margin-top: 15px;
		margin-bottom: 15px;
		display: flex;
		flex-direction: column;

		input {
			padding: 10px;
			border: 2px solid #004225;
		}
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 11px;
			border: 2px solid #004225;
			cursor: pointer;
			-webkit-box-shadow: 5px 5px 0px 1px #004225;
			-moz-box-shadow: 5px 5px 0px 1px #004225;
			box-shadow: 5px 5px 0px 1px #004225;
			font-weight: 700;
		}
		button:hover {
			background-color: #ffcf9d;
		}
	}
}

@media (min-width: 370px) {
	.panel {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 5px;
		.panel-login {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}
}

@media (max-width: 900px) {
	.panel-button {
		display: flex;
		align-items: center;
		padding: 5px;
		color: black;
		font-family: 'Roboto Condensed', sans-serif;
		border: 3px solid #ffcf9d;
		margin: 10px;
		font-size: 16px;
		font-weight: 100;
		-webkit-box-shadow: 12px 12px 0px 1px #ffb000;
		-moz-box-shadow: 12px 12px 0px 1px #ffb000;
		box-shadow: 12px 12px 0px 1px #ffb000;
		cursor: pointer;
	}
}

@media (min-width: 900px) {
	.panel {
		position: absolute;
		right: 0;
		width: 300px;
	}
	.panel {
		align-items: end;
	}
	// .content {
	//     margin-left: 325px;
	// }
	// .content {
	// 	position: absolute;
	// }
	.content-league {
		margin-right: 290px;
	}
	.content {
		align-items: start;
		margin-left: 20px;
	}
}
